body {
    background-color: grey !important;
}

.navBar {
    overflow: hidden;
    background-color: green;
    text-decoration: none;
}

.navBar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    font-size: 20px;
}
.navTransition:hover {
    transition: 0.2s;
    background-color: darkgreen;
    color: black !important;
}

.left {
    float: left;
}
.right {
    float: right;
}

.logo {
    font-size: 25px;
}

.container {
    /*background-color: white;*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    margin-top: 2em;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    border: solid green 10px;
    border-radius: 20px;
    width: auto;
}

.container h1 {
    margin-right: auto;
    margin-left: auto;
}

.draft {
    padding-bottom: 1em;
}

.fullDraftRow {
    border-bottom: solid black 3px;
    padding-bottom: 10px;
}

.team {
    text-align: left;
}

.player {
    text-align: center;
}

table {
    margin-right: auto;
    margin-left: auto;
    font-size: x-large;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding: 0.5em;
}

form {
    display: inline-block;
}

input {
    max-width: 10em;
}

.thumbnail {
    width: 50%;
}

.fullDraft {
    width: 90%;
    text-align: center;
}

.upvoteCount {
    color: green;
}
.downvoteCount {
    color: darkred;
}


/*@media (min-width: 768px) {*/
/*    .container {*/
/*        width: 750px;*/
/*    }*/
/*    .draft {*/
/*        width: 503px;*/
/*    }*/
/*}*/
/*@media (min-width: 992px) {*/
/*    .container {*/
/*        width: 970px;*/
/*    }*/
/*    .draft {*/
/*        width: 665px;*/
/*    }*/
/*}*/
/*@media (min-width: 1200px) {*/
/*    .container {*/
/*        width: 1170px;*/
/*    }*/
/*    .draft {*/
/*        width: 804px;*/
/*    }*/
/*}*/