body {
    background-color: #A7C7E7 !important;
}
/*00B8EB alternate color*/

.navBar {
    overflow: hidden;
    background-color: #91001E;
    text-decoration: none;
}
/*F5002D alternate bright red*/

.navBar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    font-size: 20px;
}
.navTransition:hover {
    transition: 0.2s;
    /*background-color: darkgreen;*/
    color: white !important;
    background-color: #5E0014;
}

.left {
    float: left;
}
.right {
    float: right;
}

.logo {
    font-size: 25px;
}

.container {
    /*background-color: white;*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    margin-top: 2em;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    border: solid #0773D6 6px;
    border-radius: 20px;
    width: auto;
}

.container h1 {
    margin-right: auto;
    margin-left: auto;
}

.draft {
    padding-bottom: 1em;
}

.fullDraftRow {
    border-bottom: solid black 3px;
    padding-bottom: 10px;
}

.player {
    text-align: center;
}

table {
    margin-right: auto;
    margin-left: auto;
    font-size: x-large;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding: 0.5em;
}

form {
    display: inline-block;
}

input {
    max-width: 10em;
}

/*.form td {*/
/*    width: auto;*/
/*}*/

.thumbnail {
    width: 50%;
}

.fullDraft {
    width: 90%;
    text-align: center;
}

.upvoteCount {
    color: green;
}
.downvoteCount {
    color: darkred;
}

img {
    height: 100px;
}

.votes {
    padding: 1em;
}

#draftName {
    max-width: 12em;
}

@media (min-width: 576px) {
    .container {
        max-width: 560px !important;
    }
    .form input, .form select {
        max-width: 3.5em;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px !important;
    }
    .form input, .form select {
        max-width: 5em;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px !important;
    }
    .form input, .form select {
        max-width: 7em;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
    .form input, .form select {
        max-width: 10em;
    }
}


/*@media (min-width: 768px) {*/
/*    .container {*/
/*        width: 750px;*/
/*    }*/
/*    .draft {*/
/*        width: 503px;*/
/*    }*/
/*}*/
/*@media (min-width: 992px) {*/
/*    .form td {*/
/*        max-width: 6em;*/
/*    }*/
/*}*/
/*@media (min-width: 1200px) {*/
/*    .form td {*/
/*        max-width: 10em;*/
/*    }*/
/*}*/
/*@media (min-width: 1200px) {*/
/*    .container {*/
/*        width: 1170px;*/
/*    }*/
/*    .draft {*/
/*        width: 804px;*/
/*    }*/
/*}*/