html {
    background-color: grey;
}

.navBar {
    overflow: hidden;
    background-color: green;
}

.navBar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navTransition:hover {
    transition: 0.2s;
    background-color: darkgreen;
}

.left {
    float: left;
}
.right {
    float: right;
}

.logo {
    font-size: 25px;
}

.container {
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    border: solid green 15px;
    border-radius: 25px;
}

.container h1 {
    margin-right: auto;
    margin-left: auto;
}

.draft {
    padding-bottom: 1em;
}

.td {
    font-size: x-large;
}

.team {
    text-align: left;
}

.player {
    text-align: right;
}

table {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    font-size: x-large;
}

.viewDraft {}

.upvoteCount {
    color: green;
}
.downvoteCount {
    color: darkred;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .draft {
        width: 503px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .draft {
        width: 665px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .draft {
        width: 804px;
    }
}